* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  --hampurilainen-tausta: orange;
  --tausta: #2e2e2e;
  --fontti: white;
  --fontti-etusivu: orange;
  --tausta-tumma: #202020;
  --tausta-vaalea: #2e2e2e;
  overflow-x: hidden;
}
body {
  background: var(--tausta-tumma);
}
.aalto {
  height: 80px;
  background-image: url(./media/aalto-alas.svg);
  transform: rotate(180deg);
}
.kaannetty {
  transform: rotate(0deg);
}
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Indie+Flower&display=swap");
/*YLEISET MUOTOILUT*/

/*NAVIGAATIO PALKIN MUOTOILU*/
header {
  background-color: #2e2e2e;
  height: 0px;
  overflow: hidden;
  display: flex;
  position: fixed;
  top: 0;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  transition: 250ms all;
  padding-right: 20px;
  z-index: 8;
}
.header-aktiivinen {
  height: 60px;
  transition: 1s all;
}
.nimi {
  color: white;
  font-size: 3.5rem;
  font-family: "Amatic SC", cursive;
  padding-left: 10px;
  text-decoration: underline dashed orange;
}

/*HAMPURILAINEN*/
.hampurilainen {
  position: fixed;
  z-index: 15;
  right: 0;
  top: 15px;
  cursor: pointer;
}
.hampurilainen > * {
  margin: 5px;
  width: 25px;
  height: 3px;
  background: var(--hampurilainen-tausta);
}
.hampurilainen > *:nth-child(1) {
  width: 15px;
}
.hampurilainen-aktiivinen > *:nth-child(1) {
  transform: rotate(-130deg) translate(5px, -2px);
  transition: 0.5s all;
  width: 25px;
}
.hampurilainen-aktiivinen > *:nth-child(2) {
  transform: rotate(310deg) translate(5px, -10px);
  transition: 0.5s all;
}
.hampurilainen-aktiivinen > *:nth-child(3) {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s all;
}
/*NAVIGAATIO-SISALTO*/
.navigaatio-sisalto {
  background: var(--tausta);
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
}
.navigaatio-sisalto-aktiivinen {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw;
  transition: 350ms all;
  padding: 5vh 0;
}
.navigaatio-sisalto li {
  list-style: none;
}
.navigaatio-sisalto li p {
  color: var(--fontti);
  cursor: pointer;
  font-size: 1.5rem;
}

/*NAVIGAATIO*/
.navigaatio {
  display: flex;
}
.navigaatio li {
  list-style: none;
}
.navigaatio li p {
  color: var(--fontti);
  padding: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}
.navigaatio li p:hover,
.navigaatio li p:focus {
  text-decoration: underline dashed;
}
/*ETUSIVU*/
h3 {
  max-width: 80vw;
  margin: 0 auto;
  font-size: 3rem;
  color: var(--fontti-etusivu);
  text-align: center;
}
.etusivu-tausta {
  width: 100vw;
  height: 100vh;
  background-image: url(./media/taustakuva.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.etusivu-teksti {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.cta {
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  background: green;
  border: 1px solid rgb(72, 23, 141);
  color: rgb(223, 223, 223);
  text-decoration: none;
  font-size: 15px;
  max-width: 250px;
}
/*OSAAMINEN*/
.osaaminen {
  background: var(--tausta-tumma);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  padding-top: 75px;
  padding-bottom: 35px;
}
/*PAINIKKEET*/
.painikkeet {
  display: flex;
  width: 95%;
  padding-top: 50px;
}
.painikkeet .painike {
  padding: 20px;
}
.painikkeet-allekkain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

/*PAINIKE*/

.painike {
  width: 95%;
  background-color: #200037;
  color: white;
  font-size: 1.5rem;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid orange;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}
.painike svg {
  position: absolute;
  top: 5px;
  left: 5px;
}
/*TEHTAVAT*/
.tehtavat {
  width: 100%;
  padding-top: 25px;
}
.tehtavat-lista {
  margin-left: 25px;
  list-style: decimal;
}
.tehtavat-lista li a {
  color: var(--fontti);
  text-decoration: none;
}
.tehtavat-lista li a:focus,
.tehtavat-lista li:hover {
  text-decoration: underline;
}
.tehtavat > * {
  width: 95%;
  margin: 0 auto;
  font-size: 2rem;
  color: var(--fontti);
}
.ammatilliset-tehtavat {
  transition: 2s all;
}

.piilotettuna {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: 1s all;
}
.tehtavat-osiot-lista {
  list-style: none;
}
.tehtavat-osiot-lista > * {
  padding: 5px;
  cursor: pointer;
  border: 1px solid white;
}
.tehtavat-osiot-lista li p {
  padding: 5px;
  font-size: 2rem;
}
.tehtavat-sisalto {
  width: 100%;
  height: auto;
  transition: 1s all;
  padding: 15px;
  font-size: 1.8rem;
}
.tehtavat-piilossa {
  transform: scale(0);
  height: 0;
  overflow: hidden;
  transition: 1s all;
  padding: 0;
}
/*KORTIT*/
.tietoja {
  width: 100%;
  background: var(--tausta-vaalea);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.kortti {
  border-bottom: 1px solid white;
  flex-basis: 100%;
}
.kortti-ylaosa {
  font-size: 1.5rem;
  color: white;
  padding: 15px;
  cursor: pointer;
  display: flex;
}
.kortti-ylaosa p {
  width: 100%;
  padding: 0 15px;
}
.kortti-ylaosa svg {
  min-width: 25px;
  font-size: 2rem;
}
.kortti-alaosa {
  max-height: 0;
  overflow: hidden;
  border: 0;
}
.kortti-alaosa-aktiivinen {
  color: var(--fontti);
  padding: 20px;
  font-size: 1.5rem;
  max-height: 600px;
  transition: 250ms all;
  border-bottom: 1px solid white;
}
@media only screen and (min-width: 1100px) {
  .kortti-ylaosa svg {
    border: 0;
    font-size: 2.5rem;
    order: 1;
  }
  .tietoja {
    padding: 0 5vw;
    width: 100%;
    background: var(--tausta-vaalea);
    display: flex;
    padding-bottom: 50px;
    justify-content: center;
    flex-direction: row;
  }

  .kortti {
    margin: 10px;
    height: 100%;
    border: 0;
    min-width: calc(90vw / 5);
    overflow-wrap: break-word;
  }
  .kortti-ylaosa {
    background: #741329;
    color: white;
    position: relative;
    transform: translateY(50px);
    z-index: 2;
    min-height: 150px;
    transition: 250ms all;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    height: 250px;
    flex-grow: 1;
  }
  .kortti-ylaosa p {
    padding: 15px;
  }
  .kortti-alaosa {
    background: black;
    transition: 1s all;
    color: white;
    position: relative;
    transform: translateY(-100px);
    height: 150px;
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
    max-height: 100%;
  }
  .kortti:hover .kortti-alaosa {
    transform: translateY(0px);
    transition: 250ms all;
  }
  .kortti:hover .kortti-ylaosa {
    transition: 1s all;
    transform: translateY(0px);
  }
  /*SÄÄ MEDIA*/
  .sää {
    width: 70%;
    margin: 0 auto;
  }
}
/*SAATIEDOT*/
.sää {
  min-height: 53vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 70px;
  flex-direction: column;
}
.hakeminen {
  width: 100%;
}
.saatiedot,
.saatiedot-tunti {
  display: flex;
  height: 0;
  width: 90%;
  overflow-x: scroll;
  margin-bottom: 20px;
}

.hakeminen form {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 90%;
  margin: 0 auto;
}
.hakeminen form > * {
  height: 40px;
  background: transparent;
  color: var(--fontti);
  width: 100%;
  border: 1px solid orange;
}
.hakeminen form > *:hover,
.hakeminen form > *:focus {
  background: transparent !important;
}
.hakeminen button {
  background: green;
  width: auto;
  padding: 0 15px;
}
.paiva {
  border: 1px solid white;
  font-size: 1.9rem;
  color: orange;
  padding: 10px;
  margin: 5px;
  text-align: center;
}
.lampotila {
  color: orangered;
}
.paivamaara {
  font-size: 1.6rem;
}
.sijainti {
  color: var(--fontti);
  font-size: 1.6rem;
  margin-left: 5px;
  text-align: left;
  width: 90%;
}
.paikannus {
  background: orange !important;
}

/* ILMOITUS */
.ilmoitus {
  display: flex;
  align-items: center;
  width: 100vw;
  color: white;
  font-size: 2.2rem;
  position: fixed;
  top: 0;
  height: 0px;
  overflow: hidden;
  transition: 350ms all;
  left: 0;
  z-index: 7;
}
/* YHTEYS */
.yhteys {
  background: var(--tausta-vaalea);
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.lomake-sisalto {
  width: 90%;
}

.yhteys p {
  color: var(--fontti);
  font-size: 1.6rem;
  transform: translate(15px, 10px);
  background-color: var(--tausta-vaalea);
  width: max-content;
  padding: 0 10px;
}
.lomake-sisalto textarea {
  background: transparent;
  border: 1px solid black;
  color: white;
  padding: 15px;
  overflow-y: hidden;
}
.lomake-sisalto label > *:nth-child(2) {
  border: 1px solid orange;
  resize: none;
  height: 45px;
  width: 100%;
}
.resize {
  resize: vertical !important;
}
.laheta {
  background-color: orange;
  border: 0;
  margin-top: 5px;
  padding: 15px;
  width: 100%;
  border-radius: 2px;
}
.laheta:hover,
.laheta:focus {
  text-decoration: underline;
  cursor: pointer;
  background: rgb(251, 205, 120);
}
